on post-fs && property:ro.boot.product.hardware.sku=ksrn
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_ksrn.conf
    
on post-fs && property:ro.boot.product.hardware.sku=fleur
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_fleur.conf
    
on post-fs && property:ro.boot.product.hardware.sku=fleurp
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_fleurp.conf
